Source: libobject-withparams-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7.0.17), perl (>= 5.10) | libmodule-build-perl
Build-Depends-Indep: perl
Maintainer: Jaldhar H. Vyas <jaldhar@debian.org>
Standards-Version: 3.9.
Homepage: http://search.cpan.org/dist/Object-WithParams/

Package: libobject-withparams-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, perl
Description: An Object With Params
 Use this module to create objects that do nothing except contain parameters
 defined by you which you can get and set as you wish. Many modules such as
 Data::FormValidator have methods that accept an object with a param() method
 and this object should be compatible with all of them.
